.ghost {
	 display:none;
 }
.text-center {
	text-align: center;
}

.pricing-box-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pricing-box {
	background-color: dodgerblue;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
	flex: 1;
	padding: 0 30px 30px;
	margin: 2%;
  width: 350px;
  font-size : 20px;
	font-weight: 900;
}
.fine{
	background: #3498db;
 }

.danger{
	background: red;
 }

 .good{
	background: green;
 }
button {
	width: 100%;
	height : 100%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
 }
table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px auto;
	}

th {
	background: #3498db;
	color: black;
	font-weight: bold;
	}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 18px;
	}

h4 {
	background-color: #3498db;
	font-weight: bold;
	color: black;
	font-size: 18px;
	margin:10px auto;
	padding: 2px;
	text-align: center;
}

.headProps{
	width: 25%;
 }

 .dataProps{
	width: 75%;
 }

 .elementProps{
	 width:32%;
 }

.kilenHead{
	text-align: center;
	background-color: yellow;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.DrayerHead{
	text-align: center;
	background-color: yellow;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.AtmHead{
	text-align: center;
	background-color: yellow;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.kilenData{
	text-align: center;
	background-color: orange;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.DrayerData{
	text-align: center;
	background-color: orange;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.AtmData{
	text-align: center;
	background-color: orange;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}
