select, input, .inner-box button {
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  border: 2px double;
  border-radius: 10rem;
	background-color: #282a36;
  width: 90%;
}

.inner-box button{
  width: 60%;
}

.box-container {
	display: flex;
	flex-wrap: wrap;
}

button {
  width: 34%;
}

.inner-box {
  border-radius: 8rem;
  display: inline-block;
	padding: 4%;
	margin: 2%;
	background-color: gray;
}

.inner-box h1 {
  display: inline-block;
	text-transform: uppercase;
  width: 60%;
}
