button {
	width: 100%;
	margin: 10px auto;
	background: #2cc16a;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
 }
table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px auto;
	}

th {
	background: #3498db;
	color: black;
	font-weight: bold;
	}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 18px;
	}

h4 {
	background-color: #3498db;
	font-weight: bold;
	color: black;
	font-size: 18px;
	margin:10px auto;
	padding: 2px;
	text-align: center;
}

.headProps{
	width: 25%;
 }

 .dataProps{
	width: 75%;
 }

 .elementProps{
	 width:25%;
 }

.kilenHead{
	text-align: center;
	background-color: yellow;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.DrayerHead{
	text-align: center;
	background-color: yellow;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.AtmHead{
	text-align: center;
	background-color: yellow;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.kilenData{
	text-align: center;
	background-color: orange;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.DrayerData{
	text-align: center;
	background-color: orange;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.AtmData{
	text-align: center;
	background-color: orange;
	font-weight: bold;
	font-size: 18px;
	color: black;
 }

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}
