body{
	text-align: center;
	background-color: #282a36;
}

p{
	margin: 10px;
	padding: 10px;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid;
	color: #bd93f9;
}

out-container{
	background-color: #bd93f9;
}

ul.no-bullets, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
	width: 77%;
	margin: 10px;
	background: #262626;
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	color: #bd93f9;
 }
table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px;
	}

th {
	background: #3498db;
	color: black;
	font-weight: bold;
	}

td, th {
	width: 50px;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 18px;
	}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}
