.box-container {
	display: flex;
	flex-wrap: wrap;
}

.inner-box {
	background-color: rgb(0, 73, 51);
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	border-radius: 4rem;
	flex: 1;
	padding: 0 30px 30px;
	margin: 2%;
}

.inner-box h5 {
	text-transform: uppercase;
}

.note {
	margin: 24px 0;
	font-size: 2rem;
	font-weight: 900;
}

.note sub, .note sup {
	font-size: 1rem;
	font-weight: 100;
}

.btn-primary {
	border-radius: 2rem;
	border: none;
	background-color: blueviolet;
	color: #ffffff;
	cursor: pointer;
	padding: .5em .75em;
	margin-top: .1em;
	text-transform: uppercase;
	transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
}

.middle-box {
	background-color: blueviolet;
	color: #ffffff;
}

.middle-box .btn-primary {
	background-color: rgb(0, 73, 51);
	color: #ffffff;
}
