.notsub{
	width: 90%;
	font-size: 3rem;
}

.issub{
	width: 75%;
	font-size: 2.5rem;
}

.issubsub{
	width: 60%;
	font-size: 2rem;
}

.short-important-p {
	margin: 2em 10em 2em 10em;
	padding: 1%;
	background: #262626;
	font-size: 1.2em;
	border: 1px solid;
	border-radius: 2em;
	}
