<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>last week summary</title>
  <link rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
  <script type="text/javascript" src="../static/js/dashboard.js" th:src="@{/js/dashboard.js}" async></script>
</head>
<body>
<div class="pricing-box-container">
	<div class="pricing-box pricing-box-bg-image text-center">
		<a href="#" th:href="@{/show/}"><button class="btn-primary price">Search</button></a>
	</div>
	<div class="pricing-box pricing-box-bg-image text-center">
		<a href="#" th:href="@{/report/}"><button class="btn-primary price">Report</button></a>
	</div>
	<div class="pricing-box pricing-box-bg-image text-center">
		<a href="#" th:href="@{/show/last/week}"><button class="btn-primary price">Last Week</button></a>
	</div>
	<div class="pricing-box pricing-box-bg-image text-center">
		<a href="#" th:href="@{/comming}"><button class="btn-primary price">Other</button></a>
	</div>
</div>
<footer>
	<p>
		Created <i class="fa fa-heart"></i> by
		<b th:text="#{developer.name}">developer name</b>
		- Read the source code of the project
		<a target="_blank" href="https://github.com/mahmoud-eltahawy/rhr">in this Github page</a>
	</p>
</footer>
</body>
</html>
