<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employee data</title>
  <link rel="stylesheet" href="../static/css/basicStyle.css" th:href="@{/css/basicStyle.css}">
  <link rel="stylesheet" href="../static/css/showDays.css" th:href="@{/css/showDays.css}">
</head>
<body>
<div class="box-container">
    <div class="inner-box">
        <h1 th:text="${fullname}">name</h1>
    </div>
    <div class="inner-box">
        <h2 th:text="${position}">position</h2>
    </div>
</div>

<div class="box-container top-bottom-border" th:each="ins :${months}">
    <div th:unless="${ins.one}==null" class="inner-box" th:object="${ins.one}">
        <h5 th:text="*{shift}">one</h5>
        <h4 th:text="*{date}">date</h4>
        <a href="#" th:href="@{/show/shift(id=*{id})}"><button class="btn-primary">Go</button></a>
    </div>
    <div th:unless="${ins.two}==null" class="inner-box" th:object="${ins.two}">
        <h5 th:text="*{shift}">two</h5>
        <h4 th:text="*{date}">date</h4>
        <a href="#" th:href="@{/show/shift(id=*{id})}"><button class="btn-primary">Go</button></a>
    </div>
    <div th:unless="${ins.three}==null" class="inner-box" th:object="${ins.three}">
        <h5 th:text="*{shift}">three</h5>
        <h4 th:text="*{date}">date</h4>
        <a href="#" th:href="@{/show/shift(id=*{id})}"><button class="btn-primary">Go</button></a>
    </div>
    <div th:unless="${ins.four}==null" class="inner-box" th:object="${ins.four}">
        <h5 th:text="*{shift}">four</h5>
        <h4 th:text="*{date}">date</h4>
        <a href="#" th:href="@{/show/shift(id=*{id})}"><button class="btn-primary">Go</button></a>
    </div>
</div>

<div class="box-container">
	<div class="inner-box">
		<form action="#" th:action="@{/show/emp}" method="post">
        <input type="hidden" th:value="${username}" name="username" id="username">
        <input type="hidden" name="month" id="month" th:value="${next}">
			  <button class="btn-primary" type="submit" >go to older</button>
		</form>
	</div>

	<div class="inner-box">
		<a href="#" th:href="@{/}"><button class="btn-primary">HOME</button></a>
	</div>

	<div class="inner-box">
		<form action="#" th:action="@{/show/emp}" th:object="${username}" method="post">
        <input type="hidden" th:value="${username}" name="username" id="username">
        <input type="hidden" name="month" id="month" th:value="${prev}">
			  <button class="btn-primary" type="submit" >go to newer</button>
		</form>
	</div>
</div>

<footer>
	<p>
		Created <i class="fa fa-heart"></i> by
		<b th:text="#{developer.name}">developer name</b>
		- Read the source code of the project
		<a target="_blank" href="https://github.com/mahmoud-eltahawy/rhr">in this Github page</a>
	</p>
</footer>
</body>
</html>
