<!DOCTYPE html>
<html>
  <head>
    <title>ERROR</title>
    <link rel="stylesheet" href="/css/basicStyle.css">
    <link rel="stylesheet" href="/css/errorPage.css">
  </head>
  <body>
    <h1>Unexpected Error :(</h1>
    <a href="/"><button>HOME</button></a>
    <div class="loading">
      <div class="gears">
        <div class="gear one">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="gear two">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="gear three">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </body>
</html>
