<!DOCTYPE html>
<html>
  <head>
    <title>ERROR</title>
    <link rel="stylesheet" href="../static/css/basicStyle.css" th:href="@{/css/basicStyle.css}">
    <link rel="stylesheet" href="../static/css/errorPage.css" th:href="@{/css/errorPage.css}">
  </head>
  <body>
    <h1><span th:text="${message}?:'Unexpected Error'" >Error</span><b>:(</b></h1>
    <h1><a href="#" th:href="@{/}"><button>HOME</button></a></h1>
    <div class="loading">
      <div class="gears">
        <div class="gear one">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="gear two">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="gear three">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </body>
</html>
