<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>shift show</title>
		<link rel="stylesheet" href="../static/css/basicStyle.css" th:href="@{/css/basicStyle.css}">
		<link rel="stylesheet" href="../static/css/showShift.css" th:href="@{/css/showShift.css}">
		<link rel="stylesheet" href="../static/css/reportPage.css" th:href="@{/css/reportPage.css}">
		<script type="text/javascript" src="../static/js/reportPage.js" th:src="@{/js/reportPage.js}" async></script>
	</head>
	<body>
		<p th:object="${theId}" class="short-important-p">
			Shift: <span th:text="*{shift}">order</span>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			Date: <span th:text="*{date}">the date</span>
		</p>
		<p id="messager" class="short-important-p">static message</p>
		<div th:unless="${cats}==null">
			<h1><button class="notsub"  onclick="toggle('problems-section')">PROBLEMS SECTION</button></h1><br>
			<div class="ghost top-bottom-border" id="problems-section">
				<ul th:each="cat : ${cats}">
					<li>
						<div th:if="${cat.value}==null" th:id="${cat.key}+'-header'">
							<button class="issub" th:attr="onclick=|replaceButtons('${cat.key}','${cat.key}-header')|">
								<span>add</span>
								<span th:text="${cat.key}">CATEGORY</span>
								<span>problem</span>
							</button>
						</div>
						<div th:unless="${cat.value}==null">
							<h2>
								<button onclick="toggle('category')" th:attr="onclick=|toggle('${cat.key}')|" class="issub">
									<span th:text="${cat.key}">CATEGORY</span>
									<span>PROBLEMS</span>
								</button>
							</h2>
							<div class="ghost top-bottom-border" id="category" th:id="${cat.key}">
								<ul th:each="mapin : ${cat.value}">
									<li>
										<div>
											<h3 th:unless="${mapin.key}==0">
												<button class="main-button" th:attr="onclick=|toggle('${cat.key}-${mapin.key}-show')|">
													<span th:text="${cat.key}">CATEGORY</span>
													<span th:text="${mapin.key}">NUMBER</span>
												</button>
											</h3><br>
											<div class="top-bottom-border" th:classappend="${mapin.key}!=0 ? 'ghost'" th:id="${cat.key}+'-'+${mapin.key}+'-show'">
												<div th:id="${cat.key}+'-'+${mapin.key}+'-btns-container'">
													<button class="mini-button"
														th:attr="onclick=|replaceForm('${cat.key}',
																   '${mapin.key}',
																   '${cat.key}-${mapin.key}-show')|"
													>+</button>
													<button th:attr="onclick=|deleteCategoryProblems('${cat.key}','${mapin.key}','${cat.key}-${mapin.key}-problems-list')|" class="mini-button">-</button>
												</div>
												<table>
													<thead>
														<tr>
															<th class="mini-button">-</th>
															<th>begin at</th>
															<th>ended at</th>
															<th>problems</th>
														</tr>
													</thead>
													<tbody th:id="${cat.key}+'-'+${mapin.key}+'-problems-list'">
														<tr th:each="pd : ${mapin.value}" th:id="${pd.id}+'-member'">
															<td>
																<button th:attr="onclick=|deleteCategoryProblem('${pd.id}','${pd.id}-member')|"
																		type="submit"
																		class="mini-button"
																		style="width: 100%"
																> - </button>
															</td>
															<td th:text="${pd.beginTime}">
																problem begin time
															</td>
															<td th:text="${pd.endTime}">
																problem end time
															</td>
															<td>
																<ol type="1" th:id="${pd.id}+'-problems-list'">
																	<li th:each="p : ${pd.problems}" th:id="${pd.id}+'-'+${p.title}">
																		<button
																			th:attr="onclick=|deleteProblemTitle('${pd.id}','${p.title}','${pd.id}-${p.title}')|"
																			style="display:inline-block;">-</button>
																		<span th:text="${p.title}" style="display:inline-block;">
																			problem
																		</span>
																	</li>
																	<li>
																		<button th:attr="onclick=|listProblems('${pd.id}')|" class="mini-button">+</button>
																	</li>
																</ol>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div><br>
		<button th:if="${flow==null} AND ${temps==null} AND ${notes==null}"
				class="notsub" onclick="toggle('record-section-add-field')">ADD RECORD</button>
		<div id="record-section-add-field" class="ghost">
			<button class="cat-button" onclick="replaceFlowForm('record-section-add-field')">total flow</button>
			<button class="cat-button" onclick="replaceTempForm('record-section-add-field')">temperture</button>
			<button class="cat-button" onclick="replaceNoteForm('record-section-add-field')">Note</button>
		</div>
		<div th:unless="${flow==null} AND ${temps==null} AND ${notes==null}">
			<h1><button class="notsub" onclick="toggle('records-section')">RECORDS SECTION</button></h1><br>
			<div class="ghost top-bottom-border" id="records-section">
				<div>
					<button class="issub" onclick="toggle('flow')">
						Total Flow records
					</button>
					<div class="ghost top-bottom-border" id="flow">
						<div>
							<a th:href="@{/report/remove/all/flow/}">
								<button class="mini-button">-</button>
							</a>
							<button onclick="replaceFlowForm('flow')" class="mini-button">+</button>
						</div>
						<table>
							<thead>
								<tr>
									<th>-</th>
									<th>Suspended machines</th>
									<th>Max total flow</th>
									<th>Min total flow</th>
									<th>Start time</th>
									<th>End time</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="t : ${flow}">
									<td>
										{
										<div th:id="${t.id}+'-btn'" class="ghost">
											<form th:action="@{/report/remove/flow/(id=${t.id})}" method="post">
												<button
														type="submit"
														class="mini-button"
														style="width: 100%">
													-
												</button>
											</form>
										</div>
										}
									</td>
									<td th:id="${t.id}+'-machines'">
										<ul>
											<li th:each="m : ${t.suspendedMachines}">
												<span>
													<a th:href="@{/report/remove/flow/machine/(fid=${t.id},machine=${m.category}+'-'+${m.number})}">
														<button class="mini-button">-</button>
													</a>
												</span>
												<span th:text="${m.category}+'-'+${m.number}">
													machine number
												</span>
											</li>
											<li><button th:attr="onclick=|listMachines('${t.id}')|" class="mini-button">+</button></li>
										</ul>
									</td>
									<td th:text="${t.maxFlow}">Max flow</td>
									<td th:text="${t.minFlow}">Min flow</td>
									<td th:text="${t.caseBeginTime}">Start time</td>
									<td th:id="${t.id}+'-end'" name="flow-end-time" th:text="${t.caseEndTime}">End time</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<button class="issub" onclick="toggle('temp-section')">
						TEMPERATURE
					</button>
					<div class="ghost top-bottom-border" id="temp-section">
						<div>
							<a th:href="@{/report/remove/all/temp/}">
								<button class="mini-button">-</button>
							</a>
							<button class="mini-button"
									onclick="replaceTempForm('temp-section')">+
							</button>
						</div>
						<ul>
							<li th:each="temp :${temps}">
								<div class="mini-button" style="display:inline-block; width:7%; margin:2%;">
									<form th:action="@{/report/remove/temp/(id=${temp.id})}" method="post">
										<button type="submit" style="width:100%">-</button>
									</form>
								</div>
								<p class="short-important-p" style="display:inline-block; width:77%; margin:2%;">
									MACHINE :
									<span th:object="${temp.machine}">
										<span th:text="*{category}">category</span>
										<span th:unless="*{number}==0" th:text="*{number}">number</span>
									</span>
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									MAXIMUM : <span th:text="${temp.max}">max</span>
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									MINIMUM : <span th:text="${temp.min}">min</span>
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<button class="issub" onclick="toggle('note-section')">NOTE</button>
					<div class="ghost top-bottom-border" id="note-section">
						<div>
							<a th:href="@{/report/remove/all/note/}">
								<button class="mini-button">-</button>
							</a>
							<button class="mini-button"
									onclick="replaceNoteForm('note-section')">+
							</button>
						</div>
						<ul th:each="note :${notes}">
							<p class="short-important-p">
								<span>
									<a th:href="@{/report/remove/note/(note=${note.note})}">
										<button class="mini-button">-</button>
									</a>
								</span>
								<span th:text="${note.note}">NOTE</span>
							</p>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div>
			<button class="notsub" onclick="toggle('employee-section')">EMPLOYEES SECTION</button>
			<div class="ghost top-bottom-border" id="employee-section">
				<div>
					<a th:href="@{/report/remove/all/emp/}">
						<button class="mini-button">-</button>
					</a>
					<button class="mini-button"
							onclick="listEmployees()">+
					</button>
				</div>
				<ul>
					<li th:each="n : ${names}">
						<a th:href="@{/report/remove/emp/(id=${n.id})}">
							<button style="display:inline-block; width:7%; margin:2%;"
								id="employee-minus-btn"
									class="mini-button">-
							</button>
						</a>
						<p style="display:inline-block; width:77%; margin:2%;"
						   th:text="${n.name}" class="short-important-p">name</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
