<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>shift show</title>
		<link rel="stylesheet" href="../static/css/basicStyle.css" th:href="@{/css/basicStyle.css}">
		<link rel="stylesheet" href="../static/css/showShift.css" th:href="@{/css/showShift.css}">
		<link rel="stylesheet" href="../static/css/reportPage.css" th:href="@{/css/reportPage.css}">
		<script type="text/javascript" src="../static/js/reportPage.js" th:src="@{/js/reportPage.js}" async></script>
	</head>
	<body>
		<div id="catsContainer" th:text="${catValue}" class="ghost"></div>
		<div id="problemsContainer" th:text="${problemsValue}" class="ghost"></div>
		<p th:object="${theId}" class="short-important-p">
			Shift: <span th:text="*{shift}">order</span>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			Date: <span th:text="*{date}">the date</span>
		</p><br>
		<button th:if="${cats}==null" class="notsub"  onclick="toggle('add-problem-field')">ADD PROBLEM</button>
		<div id="add-problem-field" class="ghost top-bottom-border"></div>
		<div th:unless="${cats}==null">
			<h1><button class="notsub"  onclick="toggle('problems-section')">PROBLEMS SECTION</button></h1><br>
			<div class="ghost top-bottom-border" id="problems-section">
				<ul th:each="cat : ${cats}">
					<li>
						<div th:if="${cat.value}==null" th:id="${cat.key}+'-header'">
							<button class="issub" th:attr="onclick=|replaceButtons('${cat.key}','${cat.key}-header')|">
								<span>add</span>
								<span th:text="${cat.key}">CATEGORY</span>
								<span>problem</span>
							</button>
						</div>
						<div th:unless="${cat.value}==null">
							<h2>
								<button onclick="toggle('category')" th:attr="onclick=|toggle('${cat.key}')|" class="issub">
									<span th:text="${cat.key}">CATEGORY</span>
									<span>PROBLEMS</span>
								</button>
							</h2>
							<div class="ghost top-bottom-border" id="category" th:id="${cat.key}">
								<ul th:each="mapin : ${cat.value}">
									<li>
										<div th:if="${mapin.value}==null" th:id="${cat.key}+'-'+${mapin.key}+'-header'">
											<button class="issubsub" th:attr="onclick=|replaceForm('${cat.key}',${mapin.key},'${cat.key}-${mapin.key}-header')|">
												<span>ADD</span>
												<span th:text="${cat.key}">CATEGORY</span>
												<span th:text="${mapin.key}">NUMBER</span>
												<span>PROBLEM</span>
											</button>
										</div>
										<div th:unless="${mapin.value}==null">
											<h3 th:unless="${mapin.key}==0">
												<button class="mini-button">-</button>
												<button class="main-button" th:attr="onclick=|toggle('${cat.key}-${mapin.key}-show')|">
													<span th:text="${cat.key}">CATEGORY</span>
													<span th:text="${mapin.key}">NUMBER</span>
												</button>
												<button class="mini-button" th:attr="onclick=|replaceForm('${cat.key}',${mapin.key},'${cat.key}-${mapin.key}-show')|">+</button>
											</h3><br>
											<div class="top-bottom-border" th:classappend="${mapin.key}!=0 ? 'ghost'" th:id="${cat.key}+'-'+${mapin.key}+'-show'">
												<table>
													<thead>
														<tr>
															<th class="mini-button">-</th>
															<th>begin at</th>
															<th>ended at</th>
															<th>problems</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="pd : ${mapin.value}">
															<td><button class="mini-button" style="width: 100%">-</button></td>
															<td th:text="${pd.beginTime}">
																problem begin time
															</td>
															<td th:text="${pd.endTime}">
																problem end time
															</td>
															<td>
																<ol type="1">
																	<li th:each="p : ${pd.problems}">
																		<span>
																			<button class="mini-button">-</button>
																		</span>
																		<span th:text="${p.title}">problem</span>
																	</li>
																	<li>
																		<button class="mini-button">+</button>
																	</li>
																</ol>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div><br>
		<button th:if="${flow.isEmpty()} AND ${temps.isEmpty()} AND ${notes.isEmpty()}"
				class="notsub" id="record-section-add-field-btn">ADD RECORD</button>
		<div id="record-section-add-field" class="ghost">
			<button class="cat-button" id="add-flow-form-btn">total flow</button>
			<button class="cat-button" id="add-temp-form-btn">temperture</button>
			<button class="cat-button" id="add-note-form-btn">Note</button>
		</div>
		<div th:unless="${flow.isEmpty()} AND ${temps.isEmpty()} AND ${notes.isEmpty()}">
			<h1><button class="notsub" id="records-section-btn">RECORDS SECTION</button></h1><br>
			<div class="ghost top-bottom-border" id="records-section">
				<p th:if="${flow.isEmpty()}" class="short-important-p">
					<button class="issub" id="add-flow-btn">
						ADD TOTAL FLOW RECORD
					</button>
				</p>
				<div th:unless="${flow.isEmpty()}">
					<h2>
						<span>
							<button class="issub" id="flow-btn">
								Total Flow
							</button>
						</span>
						<span><button id="flow-record-plus-btn" class="mini-button">+</button></span>
					</h2>
					<div class="ghost top-bottom-border" id="flow">
						<table>
							<thead>
								<tr>
									<th>-</th>
									<th>Suspended machines</th>
									<th>Max total flow</th>
									<th>Min total flow</th>
									<th>Start time</th>
									<th>End time</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="t : ${flow}">
									<td class="mini-button">
										<span><button id="flow-record-minus-btn" style="width:100%">-</button></span>
									</td>
									<td class="kilenData">
										<ul>
											<li th:each="m : ${t.suspendedMachines}">
												<span><button id="flow-machine-minus-btn" class="mini-button">-</button></span>
												<span th:text="${m.category}+'-'+${m.number}">
													machine number
												</span>
											</li>
											<li><button id="flow-machine-plus-btn" class="mini-button">+</button></li>
										</ul>
									</td>
									<td th:text="${t.maxFlow}">Max flow</td>
									<td th:text="${t.minFlow}">Min flow</td>
									<td th:text="${t.caseBeginTime}">Start time</td>
									<td th:text="${t.caseEndTime}">End time</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br>
				<p th:if="${temps.isEmpty()}" class="short-important-p">
					<button class="issub" id="add-temp-btn">
						ADD TEMPERATURE RECORD
					</button>
				</p>
				<div th:unless="${temps.isEmpty()}">
					<h2>
						<span>
							<button class="issub" id="temp-btn">
								TEMPERATURE
							</button>
							<span><button id="temperature-plus-btn" class="mini-button">+</button></span>
						</span>
					</h2>
					<div class="ghost top-bottom-border" id="temp">
						<ul th:each="temp :${temps}">
							<p class="short-important-p">
								<span><button id="temperature-minus-btn" class="mini-button">-</button></span>
								MACHINE :
								<span th:object="${temp.machine}">
									<span th:text="*{category}">category</span>
									<span th:unless="*{number}==0" th:text="*{number}">number</span>
								</span>
								&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								MAXIMUM : <span th:text="${temp.max}">max</span>
								&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								MINIMUM : <span th:text="${temp.min}">min</span>
							</p>
						</ul>
					</div>
				</div>
				<p th:if="${notes.isEmpty()}" class="short-important-p">
					<button class="issub" id="add-note-btn">
						ADD NOTE
					</button>
				</p>
				<div th:unless="${notes.isEmpty()}">
					<h2>
						<span>
							<button class="issub" id="note-btn">
								NOTE
							</button>
						</span>
						<span><button id="note-plus-btn" class="mini-button">+</button></span>
					</h2>
					<div class="ghost top-bottom-border" id="note">
						<ul th:each="note :${notes}">
							<p class="short-important-p">
								<span><button id="note-minus-btn" class="mini-button">-</button></span>
								<span th:text="${note.note}">NOTE</span>
							</p>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div>
			<h1>
				<button class="notsub" id="employee-section-btn">
					EMPLOYEES SECTION
				</button>
				<button id="employee-plus-btn" class="mini-button">+</button>
			</h1>
			<br>
			<div class="ghost top-bottom-border" id="employee-section">
				<ul>
					<li th:each="n : ${names}">
						<p class="short-important-p">
							<span><button id="employee-minus-btn" class="mini-button">-</button></span>
							<span th:text="${n}">name</span>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<br>
	</body>
</html>
