<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>search page</title>
  <link rel="stylesheet" href="/css/basicStyle.css">
  <link rel="stylesheet" href="/css/searchButtons.css">
  <script type="text/javascript" src="/js/searchButtons.js" async></script>
</head>
<body>

<div class="box-container">
    <button onclick="putShift()"   >SHIFT     </button>
    <button onclick="putDay()"     >DAY       </button>
    <button onclick="putProblem()" >PROBLEM !!</button>
    <button onclick="putMachine()" >MACHINE   </button>
    <button onclick="putEmployee()">EMPLOYEE  </button>
</div>

<div class="inner-box" id="action-place"><h1>what you are looking for</h1></div>
<footer>
	<p>
		Created <i class="fa fa-heart"></i> by
		<b th:text="#{developer.name}">developer name</b>
		- Read the source code of the project
		<a target="_blank" href="https://github.com/mahmoud-eltahawy/rhr">in this Github page</a>
	</p>
</footer>
</body>
</html>
