<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>last week summary</title>
  <link rel="stylesheet" href="../static/css/showDay.css" th:href="@{/css/showDay.css}">
  <script type="text/javascript" src="../static/js/showDay.js" th:src="@{/js/showDay.js}" async></script>
</head>
<body>
<h1 class="text-center" th:text="${title}"> Last what</h1>

<div class="pricing-box-container">
	<div class="pricing-box pricing-box-bg-image text-center">
		<a href="#" th:href="@{/searchPage}"><button class="btn-primary">Search</button></a>
	</div>
</div>

<div th:each="ins :${week}">
	<div>
		<h4 th:text="${ins.value.one.date}">date</h4>
	</div>
	<div class="box-container">
		<div th:unless="${ins.value.one}==null" class="inner-box" th:object="${ins.value.one}">
			<h5 th:text="*{shift}">one</h5>
			<a href="#" th:href="@{/show/shift(id=*{id})}"><button class="btn-primary">Go</button></a>
		</div>
		<div th:unless="${ins.value.two}==null" class="inner-box" th:object="${ins.value.two}">
			<h5 th:text="*{shift}">two</h5>
			<a href="#" th:href="@{/show/shift(id=*{id})}"><button class="btn-primary">Go</button></a>
		</div>
		<div th:unless="${ins.value.three}==null" class="inner-box" th:object="${ins.value.three}">
			<h5 th:text="*{shift}">three</h5>
			<a href="#" th:href="@{/show/shift(id=*{id})}"><button class="btn-primary">Go</button></a>
		</div>
	</div>
</div>

<footer>
	<p>
		Created <i class="fa fa-heart"></i> by
		<b th:text="#{developer.name}">developer name</b>
		- Read the source code of the project
		<a target="_blank" href="https://github.com/mahmoud-eltahawy/rhr">in this Github page</a>
	</p>
</footer>
</body>
</html>
