<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>last week summary</title>
  <link rel="stylesheet" href="../static/css/showMachines.css" th:href="@{/css/showMachines.css}">
  <script type="text/javascript" src="../static/js/showMachines.js" th:src="@{/js/showMachines.js}" async></script>
</head>
<body>
<h1 class="text-center pricing-box" th:text="${machine.holder}"> title</h1>

<div class="pricing-box-container">
	<div class="pricing-box text-center">
		<form action="#" th:action="@{/show/machine}" th:object="${machine}" method="post">
        <input type="hidden" th:value="${machine.holder}" name="holder" id="holder">
        <input type="hidden" name="num" id="num" th:value="${next}">
			  <button class="btn-primary" type="submit" >go to older</button>
		</form>
	</div>

	<div class="pricing-box pricing-box-bg-image text-center">
		<a href="#" th:href="@{/comming}"><button>report</button></a>
	</div>

	<div class="pricing-box text-center">
		<form action="#" th:action="@{/show/machine}" th:object="${machine}" method="post">
        <input type="hidden" th:value="${machine.holder}" name="holder" id="holder">
        <input type="hidden" name="num" id="num" th:value="${prev}">
			  <button class="btn-primary" type="submit" >go to newer</button>
		</form>
	</div>
</div>

<div class="pricing-box-container" th:each="p :${machineProblems}">
		<div class="pricing-box pricing-box-bg-image text-center" th:object="${p}">
			<pre class="price">Date : <span th:text="*{date}">date</span>  shift : <span th:text="*{shift}">shift</span> </pre><br>

			<pre class="price">From : <span th:text="*{beginTime}">begin</span> To : <span th:text="*{endTime}">end</span></pre>

			<pre class="price">Problems : <ul th:each="p :*{problems}"> <li th:text="${p.title}">problem</li></ul></pre>

			<a href="#" th:href="@{/show/shft(date=*{date},order=*{shift})}"><button class="btn-primary">Go to shift</button></a>
		</div>
	</div>
</div>

<div class="pricing-box-container">
	<div class="pricing-box text-center">
		<form action="#" th:action="@{/show/problem}" th:object="${problem}" method="post">
        <input type="hidden" th:value="${machine.holder}" name="holder" id="holder">
        <input type="hidden" name="num" id="num" th:value="${next}">
			  <button class="btn-primary" type="submit" >go to older</button>
		</form>
	</div>

	<div class="pricing-box pricing-box-bg-image text-center">
		<a href="#" th:href="@{/comming}"><button>report</button></a>
	</div>

	<div class="pricing-box text-center">
		<form action="#" th:action="@{/show/problem}" th:object="${problem}" method="post">
        <input type="hidden" th:value="${machine.holder}" name="holder" id="holder">
        <input type="hidden" name="num" id="num" th:value="${prev}">
			  <button class="btn-primary" type="submit" >go to newer</button>
		</form>
	</div>
</div>

<footer>
	<p>
		Created <i class="fa fa-heart"></i> by
		<b th:text="#{developer.name}">developer name</b>
		- Read the source code of the project
		<a target="_blank" href="https://github.com/mahmoud-eltahawy/rhr">in this Github page</a>
	</p>
</footer>
</body>
</html>
