<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>shift show</title>
  <link rel="stylesheet" href="../static/css/showShift.css" th:href="@{/css/showShift.css}">
  <script type="text/javascript" src="../static/js/showShift.js" th:src="@{/js/showShift.js}" async></script>
</head>
<body>
<p th:object="${theId}">Shift: <span th:text="*{shift}">order</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDate: <span th:text="*{date}">the date</span></p><br>
<h1><button class="notsub" onclick="toggle('m')">Machines Status</button></h1><br>
<div id="m">
	<div>
		<ul th:each="cat : ${cats}">
			<li>
				<h2><button class="issub" th:text="${cat.key}">category title</button></h2>
				<ul th:each="mapin : ${cat.value}">
					<li>
						<h3 th:unless="${mapin.key}==0"><button class="issubsub" th:text="${mapin.key}">machine title<button></h3><br>
						<table>
							<thead>
								<tr>
									<th>begin at</th>
									<th>ended at</th>
									<th>problems</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pd : ${mapin.value}">
									<td th:text="${pd.beginTime}">problem begin time</td>
									<td th:text="${pd.endTime}">problem end time</td>
									<td>
										<ol type="1">
											<li th:each="p : ${pd.problems}"><span th:text="${p.title}"></span></li>
										</ol>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<h5><button for="accounting" onclick="toggle('f')">Total Flow</button></h5>
<div id="f">
	<table>
		<tr>
			<th>Suspended machines</th>
			<th>Max total flow</th>
			<th>Min total flow</th>
			<th>Start time</th>
			<th>End time</th>
		</tr>
	</table>
	<table>
		<tr th:each="t : ${flow}">
			<td class="kilenData"><ul th:each="m : ${t.suspendedMachines}">
				<li th:text="${m}">machine number</li>
			</ul></td>
			<td class="kilenData" th:text="${t.maxFlow}">Max flow</td>
			<td class="kilenData" th:text="${t.minFlow}">Min flow</td>
			<td class="kilenData" th:text="${t.caseBeginTime}">Start time</td>
			<td class="kilenData" th:text="${t.caseEndTime}">End time</td>
		</tr>
	</table>
</div><br><br>

<h4><pre>Max Temp: <span th:text="${maxT}">max</span>   Min Temp: <span th:text="${minT}">min</span></pre></h4><br><br>


<p class="kilenData" th:text="${note}?:'no additional notes'">notes</p>
<h5><button for="accounting" onclick="toggle('e')">Employees</button></h5>
<div id="e">
	<table>
		<tr th:each="n : ${names}">
			<td class="kilenHead">Name</td>
			<td class="kilenData" th:text="${n}">name</td>
		</tr>
	</table>
</div>
</body>
</html>
