<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
$(document).ready(function() {
    $('[data-toggle="toggle"]').change(function(){
    $(this).parents().next('.hide').toggle();
    });
});
</script>
<style>
table {
	width: 750px;
	border-collapse: collapse;
	margin:50px auto;
	}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
	}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
	}

h4 {
	background-color: lightblue;
	font-weight: bold;
	color: #2cc16a;
	font-size: 18px;
	margin:10px auto;
	padding: 2px;
	text-align: center;
}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}
</style>
</head>
<body>
	<h4><pre th:object="${theId}">Shift: <span th:text="*{shift}">order</span>                  Date: <span th:text="*{date}">the date</span></pre></h4>
<table>
	<thead>
		<tr>
			<th colspan="5" style="text-align: center;">Machines status</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th>Machine</th>
			<th>Stoped at</th>
			<th>Started at</th>
			<th>Problems</th>
		</tr>
	</thead>
	<tbody>
		<tbody class="labels">
			<tr>
				<td colspan="5" style="text-align: center;">
					<label for="accounting">Kilens</label>
					<input type="checkbox" name="accounting" id="accounting" data-toggle="toggle">
				</td>
			</tr>
		</tbody>
		<tbody class="hide">
			<tr th:each="k :${kilens}">
				<td th:text="${k.machine}">Kilen Number</td>
				<td th:text="${k.beginTime}">Stoped at</td>
				<td th:text="${k.endTime}">Started at</td>
				<td><ul th:each="p : ${k.problems}">
					<li th:text="${p}">problem number</li>
				</ul></td>
			</tr>
		</tbody>
		<tbody class="labels">
			<tr>
				<td colspan="5" style="text-align: center;">
					<label for="management">Drayers</label>
					<input type="checkbox" name="management" id="management" data-toggle="toggle">
				</td>
			</tr>
		</tbody>
		<tbody class="hide">
			<tr th:each="d :${drayers}">
				<td th:text="${d.machine}">Drayer Number</td>
				<td th:text="${d.beginTime}">Stoped at</td>
				<td th:text="${d.endTime}">Started at</td>
				<td><ul th:each="p : ${d.problems}">
					<li th:text="${p}">problem number</li>
				</ul></td>
			</tr>
		</tbody>
		<tbody class="labels">
			<tr>
				<td colspan="5" style="text-align: center;">
					<label for="accounting">Atms</label>
					<input type="checkbox" name="accounting" id="accounting" data-toggle="toggle">
				</td>
			</tr>
		</tbody>
		<tbody class="hide">
			<tr th:each="a :${atms}">
				<td th:text="${a.machine}">Atm Number</td>
				<td th:text="${a.beginTime}">Stoped at</td>
				<td th:text="${a.endTime}">Started at</td>
				<td><ul th:each="p : ${a.problems}">
					<li th:text="${p}">problem number</li>
				</ul></td>
			</tr>
		</tbody>
	</tbody>
</table>
<table>
	<thead>
		<tr>
			<th colspan="5" style="text-align: center;">Total Flow</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th>Suspended machines</th>
			<th>Max total flow</th>
			<th>Min total flow</th>
			<th>Start time</th>
			<th>End time</th>
		</tr>
	</thead>
	<tbody>
		<tbody class="labels">
			<tr>
				<td colspan="5" style="text-align: center;">
					<label for="accounting">Toggle</label>
					<input type="checkbox" name="accounting" id="accounting" data-toggle="toggle">
				</td>
			</tr>
		</tbody>
		<tbody class="hide">
			<tr th:each="t : ${flow}">
				<td><ul th:each="m : ${t.suspendedMachines}">
					<li th:text="${m}">machine number</li>
				</ul></td>
				<td th:text="${t.maxFlow}">Max flow</td>
				<td th:text="${t.minFlow}">Min flow</td>
				<td th:text="${t.caseBeginTime}">Start time</td>
				<td th:text="${t.caseEndTime}">End time</td>
			</tr>
		</tbody>
	</tbody>
</table>
	<h4><pre>Max Temp: <span th:text="${maxT}">max</span>                  Min Temp: <span th:text="${minT}">min</span></pre></h4>
<table>
	<thead>
		<tr>
			<th colspan="5" style="text-align: center;">Project suspending</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th>Start time</th>
			<th>End time</th>
			<th>Problems</th>
		</tr>
	</thead>
	<tbody>
		<tbody class="labels">
			<tr>
				<td colspan="5" style="text-align: center;">
					<label for="accounting">Toggle</label>
					<input type="checkbox" name="accounting" id="accounting" data-toggle="toggle">
				</td>
			</tr>
		</tbody>
		<tbody class="hide">
			<tr th:each="p : ${project}">
				<td th:text="${p.beginTime}">Start time</td>
				<td th:text="${p.endTime}">End time</td>
				<td><ul th:each="l :${p.problems}">
					<li th:text="${l}">problem number</li>
				</ul></td>
			</tr>
		</tbody>
	</tbody>
</table>
<table>
	<thead>
		<tr>
			<th colspan="5" style="text-align: center;">Employees</th>
		</tr>
	</thead>
	<tbody>
		<tbody class="labels">
			<tr>
				<td colspan="5" style="text-align: center;">
					<label for="accounting">Names</label>
					<input type="checkbox" name="accounting" id="accounting" data-toggle="toggle">
				</td>
			</tr>
		</tbody>
		<tbody class="hide">
			<tr th:each="n : ${names}">
				<td th:text="${n}">name</td>
			</tr>
		</tbody>
	</tbody>
</table>
</body>
</html>
