<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>shift show</title>
  <link rel="stylesheet" href="../static/css/showShift.css" th:href="@{/css/showShift.css}">
  <script type="text/javascript" src="../static/js/showShift.js" th:src="@{/js/showShift.js}" async></script>
</head>
<body>
	<button><h4><pre th:object="${theId}">Shift: <span th:text="*{shift}">order</span>                  Date: <span th:text="*{date}">the date</span></pre></h4></button>
<button onclick="toggle('m')"><h1>Machines Status</h1></button>
<div id="m">
	<table>
		<tr>
			<th>Stoped at</th>
			<th>Started at</th>
			<th>Problems</th>
		</tr>
	</table>
	<div>
		<ul th:each="cat : ${cats}">
			<li>
				<button><h2 th:text="${cat.key}">category title</h2></button>
				<ul th:each="mapin : ${cat.value}">
					<li>
						<button><h3 th:text="${mapin.key}">machine title</h3><button>
						<table>
							<tr>
								<tr th:each="pd : ${mapin.value}">
									<td th:text="${pd.beginTime}">problem begin time</td>
									<td th:text="${pd.endTime}">problem end time</td>
									<td>
										<ul th:each="p : ${pd.problems}">
											<li th:text="${p.title}">problem</li>
										</ul>
									</td>
								</tr>
							</tr>
						</table>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<h5><button for="accounting" onclick="toggle('p')">Project suspending</button></h5>
<div id="p">
	<table>
		<tr>
			<th>Stoped at</th>
			<th>Started at</th>
			<th>Problems</th>
		</tr>
	</table>
	<table>
		<tr>
			<td th:if="${p}==null" class="kilenData">The Project works fine for the whole shift</td>
			<td th:unless="${p}==null">
				<table>
					<tr th:each="P :${p}">
						<td class="kilenData" th:text="${P.beginTime}">Stoped at</td>
						<td class="kilenData" th:text="${P.endTime}">Started at</td>
						<td class="kilenData"><ul th:each="l : ${P.problems}">
							<li th:text="${l.title}">problem number</li>
						</ul></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<h5><button for="accounting" onclick="toggle('f')">Total Flow</button></h5>
<div id="f">
	<table>
		<tr>
			<th>Suspended machines</th>
			<th>Max total flow</th>
			<th>Min total flow</th>
			<th>Start time</th>
			<th>End time</th>
		</tr>
	</table>
	<table>
		<tr th:each="t : ${flow}">
			<td class="kilenData"><ul th:each="m : ${t.suspendedMachines}">
				<li th:text="${m}">machine number</li>
			</ul></td>
			<td class="kilenData" th:text="${t.maxFlow}">Max flow</td>
			<td class="kilenData" th:text="${t.minFlow}">Min flow</td>
			<td class="kilenData" th:text="${t.caseBeginTime}">Start time</td>
			<td class="kilenData" th:text="${t.caseEndTime}">End time</td>
		</tr>
	</table>
</div><br><br>

<h4><pre>Max Temp: <span th:text="${maxT}">max</span>   Min Temp: <span th:text="${minT}">min</span></pre></h4><br><br>


<p class="kilenData" th:text="${note}?:'no additional notes'">notes</p>
<h5><button for="accounting" onclick="toggle('e')">Employees</button></h5>
<div id="e">
	<table>
		<tr th:each="n : ${names}">
			<td class="kilenHead">Name</td>
			<td class="kilenData" th:text="${n}">name</td>
		</tr>
	</table>
</div>
</body>
</html>
